#download-zip span {
  background: transparent url(../images/zip-icon.png) 12px 50% no-repeat;
}
#download-tar-gz span {
  background: transparent url(../images/tar-gz-icon.png) 12px 50% no-repeat;
}
#view-on-github span {
  background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat;
}
#view-on-jasny span {
  background: transparent url(../images/jasny-icon.png) 12px 50% no-repeat;
}
#view-on-github span {
  background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat;
}
#view-on-twitter span {
  background: transparent url(../images/twitter-icon.png) 12px 50% no-repeat;
}

code, pre {
  font-family: 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  color: #222;
  margin-bottom: 30px;
  font-size: 14px;
}

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #303030;
  color: #f2f2f2;
  text-shadow: none;
  overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
}

.theme-toggle { display: inline-block; width: 250px; border:1px solid #bfbfbf; padding:4px 21px; font-size:1.2em; text-align:center; font-weight:bold; color:#6a6a6a; background:-webkit-linear-gradient(top, #efefef 0%,#dcdcdc 100%); text-decoration:none; text-shadow:0 1px 0 rgba(255,255,255,0.8); border-radius:3px; box-shadow:0 1px 0 rgba(255,255,255,0.6),0 1px 0 rgba(255,255,255,0.7) inset; color: #7c7c7c !important;}
.theme-toggle:hover{ color:#7c7c7c; background:-webkit-linear-gradient(top, #fdfdfd 0%,#dcdcdc 100%); }
.theme-toggle:active { color:#444; background:-webkit-linear-gradient(top, #dcdcdc 0%,#efefef 100%); }

